<nav class="pagination">
  {% if page.previous %}
  <a href="{{ page.previous.url | relative_url }}" class="pag-link">
    <span class="pag-label">Previous</span>
    <span class="pag-title">{{ page.previous.title }}</span>
  </a>
  {% else %}
  <div class="pag-link"></div>
  {% endif %}
  {% if page.next %}
  <a href="{{ page.next.url | relative_url }}" class="pag-link pag-next">
    <span class="pag-label">Next</span>
    <span class="pag-title">{{ page.next.title }}</span>
  </a>
  {% endif %}
</nav>
