{% if page.tags.size > 0 %}
{% assign firstTag = page.tags | first %}
{% assign related = "" | split: "" %}
{% for post in site.posts %}
  {% if post.url != page.url and post.tags contains firstTag %}
    {% assign related = related | push: post %}
  {% endif %}
  {% if related.size >= 3 %}{% break %}{% endif %}
{% endfor %}
{% if related.size > 0 %}
<div class="related">
  <div class="container">
    <h3>Related Posts</h3>
    <div class="card-grid card-grid--3">
      {% for post in related %}
      {% include post-card.html post=post %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endif %}
